.w{//版心的公共类
   width: 1190px;
    margin: 0 auto;
}
.fl{/*浮动的公共类*/
    float: left;
}
.fr{
    float: right;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #999999;

}
a:hover {
    color: #c81623;
}
body {
    background-color: #f6f6f6;
}
.f10{
    color: #f10215!important;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?4oyz0t');
    src:  url('../fonts/icomoon.eot?4oyz0t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4oyz0t') format('truetype'),
    url('../fonts/icomoon.woff?4oyz0t') format('woff'),
    url('../fonts/icomoon.svg?4oyz0t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*header部分*/
header{
    height: 80px;
    background-color: #020000;
}
/*快速导航栏begin*/
.shortcut{
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}
.city {
    margin-left: 200px;

}
.shortcut li {
    float: left;
}
.shortcut i {
    font-family: "icomoon";
    font-style: normal;/*让倾斜的不倾斜*/
    color: #ccc;
}
.space {/*小竖线*/
    width: 2px;
    height: 15px;
    background-color: #ccc;
    margin: 10px 12px 0; /*上是10 左右是12 下是0*/
}
/*快速导航栏over*/






